.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('images/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.headerbtn {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
    text-emphasis-color: white;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: transparent;
    line-height: 40px;
}
 .carousel-inner img {
    width: 100%;
    height: 10%;
  }

.signupheader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: #230444;
    line-height: 40px;

}

.homeheader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 75px;
    background-color: #230444;
    line-height: 40px;

}

.header.active {
    background: #230444;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

}

.navbar-brandother {
    float: left;
   
    font-size: 50px;
    line-height: 0px;
    height: 75px;
    max-width: 220px;
    display: table;
    padding-bottom: 20px;
    
}

.navbar-custom {
    background-color: transparent;
}


/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color:#ffffff ;
    font-size: 20px;
    font-weight: bold;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #eb8242;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #230444;
    border-radius: 15px;

}

.navbar-custom .dropdown-item {
    color: #ffffff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #eb8242;
    background-color: rgba(255, 255, 255, .5);
}

/*Sign up page*/
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-signin {

    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-signin .card-title {
    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.5rem;
}

.card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('images/signup.jpg');
    background-size: cover;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

span {
    font-size: 15px;
}

.box {
    padding: 60px 0px;
     background-image: url(images/515.jpg);
   
}

.box-part {
    background:#fff;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}
