@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px;
}

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

.mydrop {
    margin-top: 15px;
    background-color: transparent;


}

.mydropbutton {
    background-color: transparent;
    border-color: transparent;
}


.mydrop:hover .mydropbutton {
    background-color: transparent;
    border-color: transparent;

}

.mydrop:focus .mydropbutton {
    background-color: transparent;
    border-color: transparent;

}

.mydrop .dropdown-menu {
    background-color: #230444;
    border-radius: 15px;
    width: 280px;

}

.mydrop .dropdown-item {
    color: #ffffff;
}

.mydrop .dropdown-item:hover,
.mydrop .dropdown-item:focus {
    color: #eb8242;
    background-color: rgba(255, 255, 255, .5);
}

.homeheader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 75px;
    background-color: #230444;
    line-height: 40px;

}

a {
    color: cornflowerblue;
    font-size: 20;
}

a:hover {
    text-decoration: none;

}

.diveditfirst {
    padding-top: 7px;
    padding-left: 50px;
    padding-right: 10px;
    font-size: 18;
}

.diveditsecond {
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: cursive;
    font-size: 16;
}


.comment-wrapper .panel-body {
    max-height: 650px;
    overflow: auto;
}

.comment-wrapper .media-list .media img {
    width: 50px;
    height: 50px;
    border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}

.footerstyle {
    background-color: #230444;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    color: white;
    text-align: center;
    padding-top: 25px;

}

span {
    font-size: 15px;
}

.box {
    padding: 60px 0px;
    background-image: url(images/515.jpg);

}

.box-part {
    background-color: white;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}

.side-nav.wide.slim {
    width: 3.75rem !important;
}

textarea {
    box-sizing: border-box;
    resize: none;
}

/*Sign up page*/
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-signin {

    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;

    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

span {
    font-size: 15px;
}

/* Import Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic,700,700italic,800,800italic,300italic,300);

/* Colors */
@accent: #00a8ff;
@accent-dark: #005a89;
@accent-light: #3bbcff;
@neutral-dark: #1a1a1a;
@neutral-medium: #5f5f5f;
@neutral-light: #f2f2f2;
@darken: rgba(0, 0, 0, 0.25);
@lighten: rgba(255, 255, 255, 0.25);

/* Fix Browser Defaults */
* {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
}
/* Rich Text Editor Styles */
* {
	box-sizing: border-box;
}

.editor-controls {
	display: block;
	padding-top: 6px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #bbbbbb;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.35);
}

.editor-controls .button-group {
	display: inline-block;
	margin: 0 2px;
}


.editor-richText-box {
	width: 100%;
	min-height: 380px;
	border: 2px solid #cccccc;
	background-color: white;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	word-break: break-word;
	word-wrap: normal;
	padding: 16px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.35);
}

.editor-text-box {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	word-break: break-word;
	word-wrap: normal;
}

.rte.button {
	display: block;
	float: left;
	padding: 6px;
	margin: 6px;
	text-align: center;
	
	&:hover {
		cursor: pointer;
	}
}
.rte.main.button {
	color: white;
	padding: 6px 12px;
	margin: 6px;
	background-color: #2676d5;
	border: 1px solid #1d5aa3;
	font-weight: bold;
	border-radius: 5px;
	
	&:hover {
		background-color: #3a3a3a;
		border-color: #1a1a1a;
	}

	&.fileUpload {
		position: relative; 
		overflow: hidden; 
		cursor: pointer;
		
		input[type='file'] {
			cursor: pointer; 
			position: absolute; 
			top: 0; 
			opacity: 0; 
			display: block; 
			margin: 0; 
			padding: 0; 
			font-size: 20px; 
			right: 0;
		}
	}
}
.rte.editor.button {
	color: #1a1a1a;
	background-color: #eeeeee;
	font-weight: bold;
	margin: 0;
	height: 34px;
	
	&:hover {
		background-color: #3a3a3a;
		border-color: #1a1a1a;
		color: white;
	}
	
	&:first-of-type {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	
	&:last-of-type {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
}
.rte.editor.dropdown {
	display: block;
	float: left;
	padding: 5px;
	margin: 6px;
	height: 34px;
	text-align: center;
	color: #1a1a1a;
	background-color: #eeeeee;
	font-weight: bold;
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	display: inline-block;
	margin: 0 0px;
	margin-left: 0;
	
	&:hover {
		cursor: pointer;
		//background-color: #3a3a3a;
		border-color: #1a1a1a;
		//color: white;
	}
	
	option {
		background-color: inherit;
		font-weight: bold;
	}
}
.rte.editor.dropdown-label {
	color: #1a1a1a;
	background-color: #eeeeee;
	font-weight: bold;
	margin: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	display: block;
	float: left;
	padding: 6px;
	margin: 0;
	text-align: center;
}

.rte.editor.dropdown#fontFamily {
	width: 150px;
	font-weight: normal;
}
